<div class='campos_persona'>
  <%= f.input :id, as: :hidden %>
  <% 
    ph = 'N'
    ac = {'data-autocompleta' => 'no' }
     if (!f.object.nombres || f.object.nombres == 'N' || f.object.nombres == '')
       ph = 'Buscar'
       ac = {
         list: 'fuente-victimas'
       }
     end
   %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :nombres, placeholder: ph,
        value_method: lambda {|t| '' if t.nombres == 'N'},
        :input_html => ac %>
    </div>
    <div class="col-md-6">
      <%= f.input :apellidos, placeholder: 'N',
        value_method: lambda {|t| '' if t.apellidos == 'N'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :tdocumento_id,
        collection: Msip::Tdocumento.habilitados,
        label: "Tipo de Documento",
        label_method: :nombre,
        value_method: :id %>
    </div>
    <div class="col-md-6">
      <%= f.input :numerodocumento, label: 'Número Documento'%>
    </div>
  </div>

  <div class="input string">
    <label class="string control-label">Casos en los que aparece: </label>
    <% 
      r = ""
      sep = ""
      v = Sivel2Gen::Victima.where(id_persona: f.object.id).order(:id_persona)
      v.each do |vic|
        if @caso.id != vic.caso.id
      %>
      <%= link_to vic.caso.id, sivel2_gen.caso_path(vic.caso), target:"_blank" %> 
      <% 
        end
      end 
    %>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <% @anios = *(1900..Date.today.year) %>
      <%= f.input :anionac, 
        collection: @anios %>
    </div>
    <div class="col-sm-4">
      <%= fvictima.input :edad, as: :integer %>
    </div>
    <div class="col-sm-4">
      <%= fvictima.input :edadactual, as: :integer %>
    </div>
  </div>
  <% @meses = [
    ["ENERO", 1], 
    ["FEBRERO", 2], 
    ["MARZO", 3], 
    ["ABRIL", 4], 
    ["MAYO", 5], 
    ["JUNIO", 6], 
    ["JULIO", 7], 
    ["AGOSTO", 8], 
    ["SEPTIEMBRE", 9], 
    ["OCTUBRE", 10], 
    ["NOVIEMBRE", 11], 
    ["DICIEMBRE", 12]] %>
  <% @dias = *(1..31) %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :mesnac, 
        collection: @meses %>
    </div>
    <div class="col-md-4">
      <%= f.input :dianac, collection: @dias %>
    </div>
    <div class="col-md-4">
      <%= f.input :sexo, collection: [["SIN INFORMACIÓN", :S], 
                                      ["FEMENINO", :F], ["MASCULINO", :M]], 
      include_blank: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.association :pais,
        collection: Msip::Pais.habilitados,
        label: "País de Nacimiento",
        label_method: :nombre,
        value_method: :id %>
    </div>
    <div class="col-md-6">
      <%= f.association :departamento,
        collection: (Msip::Departamento.habilitados.where(
          id_pais: f.object.id_pais)),
          label: "Estado/Departamento de Nacimiento",
          label_method: :nombre,
          value_method: :id %>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6">
      <%= f.association :municipio,
        collection: ( Msip::Municipio.habilitados.where(
          id_departamento: f.object.id_departamento)),
          label: "Municipio de Nacimiento",
          label_method: :nombre,
          value_method: :id %>
    </div>
    <div class="col-md-6">
      <%= f.association :clase,
        collection: (Msip::Clase.habilitados.where(
          id_municipio: f.object.id_municipio)),
          label: "Centro Poblado de Nacimiento",
          label_method: :nombre,
          value_method: :id %>
    </div>
  </div> 

<% if !f.object.orgsocial_persona %>
  <% f.object.orgsocial_persona = Msip::OrgsocialPersona.new %>
<% end %>
<%= f.fields_for :orgsocial_persona do |ap| %>
  <%= ap.input :id, as: :hidden %>

  <div class="row">
    <div class="col-md-6">
      <%= ap.association :orgsocial,
        collection: Msip::Orgsocial.where("id IN (SELECT orgsocial_id FROM
      public.sivel2_gen_victimacolectiva WHERE id_caso=?)", @caso.id),
      label_method: lambda {|t| t.grupoper.nombre},
      value_method: :id %>
    </div>
    <div class="col-md-6">
      <%= ap.association :perfilorgsocial,
        collection: Msip::Perfilorgsocial.all,
        label_method: :nombre,
        value_method: :id %>
    </div>
  </div> 
<% end %>

</div>
