<div class='campos-persona-con-victima-id'>
  <%= f.simple_fields_for :persona do |p| %>
    <%= render partial: 'msip/personas/persona_campos', 
      locals: {f: p, fvictima: f}  %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'contacto_complemento_1', locals: {f: f} %>
  </div>
  <div class="col-md-6">
    <%= f.association :organizacion,
      collection: Sivel2Gen::Organizacion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Tipo de organización a la que pertenecía en el momento del hecho'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :hijos %>
  </div>
  <div class="col-md-6">
    <%= f.input(:orientacionsexual, collection: [
      [:HETEROSEXUAL, :H], [:LESBIANA, :L], [:GAY, :G], 
      [:BISEXUAL, :B], [:TRANSEXUAL, :T], ["SIN INFORMACIÓN", :S] 
    ], 
    include_blank: false ) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :sectorsocial,
      collection: Sivel2Gen::Sectorsocial.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Sector social al que pertenecía en el momento del hecho' 
      } %>
  </div>
  <div class="col-md-6">
    <%= f.association :vinculoestado,
      collection: Sivel2Gen::Vinculoestado.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Registre si la persona era funcionaria pública en el momento del hecho'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :profesion,
      collection: Sivel2Gen::Profesion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
  <div class="col-md-6">
    <%= f.association :etnia,
      collection: Sivel2Gen::Etnia.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
</div>

<%= render partial: 'contacto_complemento_n', locals: {f: f} %>

<%= f.input :id, as: :hidden %>

