<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <!--script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script-->
  <%= simple_form_for @caso, 
    url: sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
    html: { class: 'form-horizontal' } do |f| 
  %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'msip/hogar/errores', locals: { f: f } %>
      
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link active" id="basicos-tab" data-bs-toggle="tab" data-bs-target="#basicos" type="button" role="tab" aria-controls="basicos" aria-selected="true">Datos Básicos</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="victimascolectivas-tab" data-bs-toggle="tab" data-bs-target="#victimascolectivas" type="button" role="tab" aria-controls="victimascolectivas" aria-selected="false">Colectivo Humano</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="victimas-tab" data-bs-toggle="tab" data-bs-target="#victimas" type="button" role="tab" aria-controls="victimas" aria-selected="false">Víctimas Individuales</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="ubicaciones-tab" data-bs-toggle="tab" data-bs-target="#ubicaciones" type="button" role="tab" aria-controls="ubicaciones" aria-selected="false">Localización</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="contextos-tab" data-bs-toggle="tab" data-bs-target="#contextos" type="button" role="tab" aria-controls="contextos" aria-selected="false">Contexto</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="presponsables-tab" data-bs-toggle="tab" data-bs-target="#presponsables" type="button" role="tab" aria-controls="presponsables" aria-selected="false">Presuntos Responsables</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="actos-tab" data-bs-toggle="tab" data-bs-target="#actos" type="button" role="tab" aria-controls="actos" aria-selected="false">Actos</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="anexos-tab" data-bs-toggle="tab" data-bs-target="#anexos" type="button" role="tab" aria-controls="anexos" aria-selected="false">Anexos</button>
          </li>
          <li role="presentation" class="nav-item"> 
            <button class="fichacambia nav-link" id="fuentesprensa-tab" data-bs-toggle="tab" data-bs-target="#fuentesprensa" type="button" role="tab" aria-controls="fuentesprensa" aria-selected="false">Fuentes Frecuentes</button>
          </li>
          <li role="presentation" class="nav-item"> 
            <button class="fichacambia nav-link" id="fotras-tab" data-bs-toggle="tab" data-bs-target="#fotras" type="button" role="tab" aria-controls="fotras" aria-selected="false">Otras Fuentes</button>
          </li>
          <li role="presentation" class="nav-item"> 
            <button class="fichacambia nav-link" id="descripcion-tab" data-bs-toggle="tab" data-bs-target="#descripcion" type="button" role="tab" aria-controls="descripcion" aria-selected="false">Memo</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="etiquetas-tab" data-bs-toggle="tab" data-bs-target="#etiquetas" type="button" role="tab" aria-controls="etiquetas" aria-selected="false">Etiquetas y Solicitudes</button>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="basicos" aria-labelledby="basicos-tab">
            <%= render 'basicos', f: f %>
          </div> 

          <div role="tabpanel" class="tab-pane fade" id="victimascolectivas" aria-labelledby="victimascolectivas-tab">
            <%= render 'victimascolectivas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="victimas" aria-labelledby="victimas-tab">
            <%= render 'victimas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="ubicaciones" aria-labelledby="ubicaciones-tab">
            <%= render 'ubicaciones', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="contextos" aria-labelledby="contextos-tab">
            <%= render 'contextos', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="presponsables" aria-labelledby="presponsables-tab">
            <%= render 'presponsables', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="actos" aria-labelledby="actos-tab">
            <%= render 'actos', f: f %> 
          </div>

          <div role="tabpanel" class="tab-pane fade" id="anexos" aria-labelledby="anexos-tab">
            <%= render 'sivel2_gen/casos/anexos', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="fuentesprensa" aria-labelledby="fuentesprensa-tab">
            <%= render 'fuentesprensa', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="fotras" aria-labelledby="fotras-tab">
            <%= render 'fotras', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="combatientes" aria-labelledby="combatientes-tab">
            <%= render 'combatientes', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="descripcion" aria-labelledby="descripcion-tab">
            <%= render 'memo', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="etiquetas" aria-labelledby="etiquetas-tab">
            <%= render 'etiquetas', f: f %>
          </div>

        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions" style="text-align: center">
      <input class='bitacora_cambio' id='caso_bictacora_cambio' 
        name='caso[bitacora_cambio]' type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()',
        'data-turbo' => false 
      } %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        sivel2_gen.casos_path, class: 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

