<% content_for :titulo do %>
  <% if defined?(current_usuario) && current_usuario %>
    <%= Msip.titulo %>
  <% else %>
    SIADDHH
  <% end %>
<% end %>

<% content_for :enlace_marca do %>
  <%= sivel2_gen.casos_mapaosm_path %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Casos' do %>
        <%= opcion_menu 'Listado', sivel2_gen.casos_path,
          desplegable: true %>
        <%= opcion_menu 'Nuevo Caso', sivel2_gen.new_caso_path,
          desplegable: true %>
        <%= opcion_menu 'Validar casos', sivel2_gen.validarcasos_path,
          desplegable: true %>
        <%= opcion_menu 'Buscar repetidos', sivel2_gen.buscarrepetidos_path,
          desplegable: true %>
        <%= opcion_menu "Casos sobre Open Street Maps", 
          sivel2_gen.casos_mapaosm_path, desplegable: true %>
      <% end %>
      <%= despliega_abajo 'Reportes y conteos' do %>
        <%= opcion_menu 'Listado de víctimas y casos', 
          sivel2_gen.victimas_path,
          desplegable: true %>
        <%= opcion_menu 'Conteo demografía víctimas', 
          sivel2_gen.conteos_personas_path,
          desplegable: true %>
        <%= opcion_menu 'Conteo de victimizaciones individuales', 
          sivel2_gen.conteos_victimizaciones_path,
          desplegable: true %>
        <%= opcion_menu 'Conteo general de víctimas', 
          sivel2_gen.conteos_genvic_path,
          desplegable: true %>
        <%= opcion_menu 'Graficar victimizaciones individuales', 
          sivel2_gen.graficar_victimizaciones_individuales_path,
          'data-turbo' => false,
          desplegable: true %>
        <%= opcion_menu 'Graficar actos individuales', 
          sivel2_gen.graficar_actos_individuales_path,
          'data-turbo' => false,
          desplegable: true %>
        <%= opcion_menu 'Mapa de victimizaciones por departamento', 
          sivel2_gen.mapadepvic_path,
          'data-turbo' => false,
          desplegable: true %>

      <% end %>
    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Documentos' do %>
        <%= opcion_menu 'Manual', 'https://docs.google.com/document/d/1joHEywmAs7kf1VSEFG_stKKnzEoi73gE1Bjk596bx7Y/edit?usp=sharing',
          desplegable: true %>
        <%= opcion_menu 'Nube', heb412_gen.sisini_path,
          desplegable: true %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu 'Plantillas para listado en hojas de calculo',
            heb412_gen.plantillashcm_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu 'Plantillas para un registro en hoja de calculo',
            heb412_gen.plantillashcr_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantilladoc %>
          <%= opcion_menu 'Plantillas para un registro en documento',
            heb412_gen.plantillasdoc_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo 'Administrar' do %>
        <%= opcion_menu 'Clave y tema', main_app.editar_registro_usuario_path,
          desplegable: true %>
        <%= opcion_menu 'Colectivos', msip.orgsociales_path,
          desplegable: true %>
        <% if session[:capturacaso_acordeon] %>
           <%= opcion_menu 'Ficha caso vertical ✓', '/fichacasovertical',
             desplegable: true, id: 'fichacasovertical' 
           %>
        <% else %>
           <%= opcion_menu 'Ficha caso vertical', '/fichacasovertical',
             desplegable: true, id: 'fichacasovertical' 
           %>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= opcion_menu 'Usuarios', main_app.usuarios_path,
            desplegable: true %>
        <% end %>

        <% if can? :manage, :tablasbasicas %>
          <%= opcion_menu 'Tablas Básicas', sivel2_gen.tablasbasicas_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Msip::Respaldo7z %>
          <%= opcion_menu 'Respaldo cifrado', msip.respaldo7z_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu "Formularios", 
            mr519_gen.formularios_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Msip::Bitacora %>
          <%= opcion_menu "Bitácoras", msip.bitacoras_path, desplegable: true %>
        <% end %>
        <%= opcion_menu 'Ayuda Control de Acceso', 
          msip.ayuda_controldeacceso_path,
          desplegable: true %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
        main_app.terminar_sesion_path %>
    <% else %>
      <%= opcion_menu 'Acerca de', sivel2_gen.acercade_path %>
      <% if ENV.fetch('SIADDHH_PUBLICO', '0') == '0' %>
        <%= opcion_menu 'Iniciar Sesión', main_app.iniciar_sesion_path %> 
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p>
  Sistema de información de 
  <a href="https://github.com/pasosdeJesus/siaddhh">código abierto</a>
  desarrollado por 
    <a href='http://www.pasosdeJesus.org' target='_blank'>Pasos de Jesús</a>.
    2023.
  </span></p>
<% end %>

<%= render template: 'layouts/msip/application' %>
